.header {
    height: 4rem;
    width: 100%;
    position: relative;
    background: #4e4764;
    z-index: 100;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        font-weight: bold;
        width: 850px;
        margin: 0 auto;
        line-height: 4rem;

        .app-title {
            display: flex;
            font-family: 'Quicksand', sans-serif;
            font-size: 23px;
        }

        .header-right-side {
            display: flex;
            align-items: center;

            .header-info {
                margin-right: 5px;

                svg {
                    display: block;
                    padding: 3px;
                    border-radius: 20px;
                 }
            }

            .user-avatar {
                width: 50px;
                height: 50px;
                border-radius: 100px;
                overflow: hidden;

                img {
                    width: inherit;
                    height: inherit;
                }

            }
             
        }
            
    }
}