@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
body {
   background: #e2e5ee;
   font-family: "Segoe UI";
   margin: 0;
   padding: 0;
}

